In [1]:
# Import dependencies
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.svm import SVC 
from sklearn.metrics import accuracy_score

In [2]:
# Import our input dataset
tele_df = pd.read_csv('bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [3]:
# Generate our categorial variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == 'object'].index.tolist()

# Check number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [4]:
# Create OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform 
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [5]:
# Merge to original dataframe
tele_df = tele_df.merge(encode_df, left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat, axis=1)
tele_df.head()

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [6]:
# Remove loan status target
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=['Subscribed_no', 'Subscribed_yes'], axis=1)

# Split training/testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Create a StandardScaler
scaler = StandardScaler()

# Fit Scaler
X_scaler = scaler.fit(X_train)

# Scale data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [7]:
# SVM

# Create SVM model
svm = SVC(kernel='linear')

# Train model
svm.fit(X_train_scaled, y_train)

# Evaluate model
y_pred = svm.predict(X_test_scaled)
print(f'SMV model accuracy: {accuracy_score(y_test, y_pred):.3f}')

SMV model accuracy: 0.876

In [10]:
# Define the deep neural network model
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1=10
hidden_nodes_layer2=5

nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 22857 samples
Epoch 1/50
22857/22857 [==============================] - 3s 150us/sample - loss: 0.4258 - accuracy: 0.8382
Epoch 2/50
22857/22857 [==============================] - 2s 109us/sample - loss: 0.3751 - accuracy: 0.8705
Epoch 3/50
22857/22857 [==============================] - 4s 158us/sample - loss: 0.3723 - accuracy: 0.8725
Epoch 4/50
22857/22857 [==============================] - 6s 248us/sample - loss: 0.3709 - accuracy: 0.8726
Epoch 5/50
22857/22857 [==============================] - 4s 183us/sample - loss: 0.3702 - accuracy: 0.8726
Epoch 6/50
22857/22857 [==============================] - 3s 149us/sample - loss: 0.3695 - accuracy: 0.8726
Epoch 7/50
22857/22857 [==============================] - 4s 178us/sample - loss: 0.3692 - accuracy: 0.8726
Epoch 8/50
22857/22857 [==============================] - 3s 140us/sample - loss: 0.3686 - accuracy: 0.8726 - loss:
Epoch 9/50
22857/22857 [==============================] - 3s 136us/sample - loss: 0.3686 - accuracy: 0.8726
Epoch 10/50
22857/22857 [==============================] - 3s 139us/sample - loss: 0.3680 - accuracy: 0.8726
Epoch 11/50
22857/22857 [==============================] - 3s 130us/sample - loss: 0.3678 - accuracy: 0.8726
Epoch 12/50
22857/22857 [==============================] - 3s 135us/sample - loss: 0.3673 - accuracy: 0.8726
Epoch 13/50
22857/22857 [==============================] - 3s 128us/sample - loss: 0.3669 - accuracy: 0.8726
Epoch 14/50
22857/22857 [==============================] - 3s 127us/sample - loss: 0.3666 - accuracy: 0.8726
Epoch 15/50
22857/22857 [==============================] - 5s 233us/sample - loss: 0.3664 - accuracy: 0.8726
Epoch 16/50
22857/22857 [==============================] - 6s 275us/sample - loss: 0.3662 - accuracy: 0.8726
Epoch 17/50
22857/22857 [==============================] - 6s 281us/sample - loss: 0.3660 - accuracy: 0.8726
Epoch 18/50
22857/22857 [==============================] - 6s 249us/sample - loss: 0.3657 - accuracy: 0.8726
Epoch 19/50
22857/22857 [==============================] - 6s 260us/sample - loss: 0.3657 - accuracy: 0.8726
Epoch 20/50
22857/22857 [==============================] - 6s 278us/sample - loss: 0.3653 - accuracy: 0.8726
Epoch 21/50
22857/22857 [==============================] - 7s 293us/sample - loss: 0.3652 - accuracy: 0.8726
Epoch 22/50
22857/22857 [==============================] - 6s 278us/sample - loss: 0.3649 - accuracy: 0.8726
Epoch 23/50
22857/22857 [==============================] - 6s 260us/sample - loss: 0.3644 - accuracy: 0.8726
Epoch 24/50
22857/22857 [==============================] - 8s 334us/sample - loss: 0.3641 - accuracy: 0.8726
Epoch 25/50
22857/22857 [==============================] - 6s 248us/sample - loss: 0.3637 - accuracy: 0.8726
Epoch 26/50
22857/22857 [==============================] - ETA: 0s - loss: 0.3637 - accuracy: 0.87 - 3s 141us/sample - loss: 0.3634 - accuracy: 0.8726
Epoch 27/50
22857/22857 [==============================] - 3s 124us/sample - loss: 0.3634 - accuracy: 0.8726
Epoch 28/50
22857/22857 [==============================] - 3s 130us/sample - loss: 0.3631 - accuracy: 0.8726 - loss: 0.3621 - ac
Epoch 29/50
22857/22857 [==============================] - 3s 126us/sample - loss: 0.3630 - accuracy: 0.8726
Epoch 30/50
22857/22857 [==============================] - 3s 150us/sample - loss: 0.3626 - accuracy: 0.8726
Epoch 31/50
22857/22857 [==============================] - 3s 136us/sample - loss: 0.3624 - accuracy: 0.8726
Epoch 32/50
22857/22857 [==============================] - 3s 139us/sample - loss: 0.3625 - accuracy: 0.8726
Epoch 33/50
22857/22857 [==============================] - 4s 159us/sample - loss: 0.3624 - accuracy: 0.8726
Epoch 34/50
22857/22857 [==============================] - 4s 166us/sample - loss: 0.3623 - accuracy: 0.8726
Epoch 35/50
22857/22857 [==============================] - 3s 142us/sample - loss: 0.3624 - accuracy: 0.8726
Epoch 36/50
22857/22857 [==============================] - 3s 143us/sample - loss: 0.3622 - accuracy: 0.8726
Epoch 37/50
22857/22857 [==============================] - 3s 135us/sample - loss: 0.3621 - accuracy: 0.8726
Epoch 38/50
22857/22857 [==============================] - 3s 123us/sample - loss: 0.3619 - accuracy: 0.8726
Epoch 39/50
22857/22857 [==============================] - 3s 117us/sample - loss: 0.3621 - accuracy: 0.8726
Epoch 40/50
22857/22857 [==============================] - 3s 119us/sample - loss: 0.3619 - accuracy: 0.8726
Epoch 41/50
22857/22857 [==============================] - 3s 121us/sample - loss: 0.3620 - accuracy: 0.8726
Epoch 42/50
22857/22857 [==============================] - 3s 127us/sample - loss: 0.3618 - accuracy: 0.8726
Epoch 43/50
22857/22857 [==============================] - 3s 115us/sample - loss: 0.3617 - accuracy: 0.8724
Epoch 44/50
22857/22857 [==============================] - 3s 116us/sample - loss: 0.3615 - accuracy: 0.8726
Epoch 45/50
22857/22857 [==============================] - 3s 114us/sample - loss: 0.3617 - accuracy: 0.8725
Epoch 46/50
22857/22857 [==============================] - 3s 115us/sample - loss: 0.3615 - accuracy: 0.8726
Epoch 47/50
22857/22857 [==============================] - 3s 112us/sample - loss: 0.3617 - accuracy: 0.8726
Epoch 48/50
22857/22857 [==============================] - 3s 129us/sample - loss: 0.3616 - accuracy: 0.8726
Epoch 49/50
22857/22857 [==============================] - 4s 185us/sample - loss: 0.3617 - accuracy: 0.8725
Epoch 50/50
22857/22857 [==============================] - 4s 163us/sample - loss: 0.3615 - accuracy: 0.8726
7620/1 - 1s - loss: 0.2371 - accuracy: 0.8762
Loss: 0.36733774778645806, Accuracy: 0.8762466907501221